.agriHeader-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.037);
  width: 100%;
  backdrop-filter: blur(10px);
}

.agricare-container {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Inter", sans-serif;
  padding: 10px;
  /* box-shadow:  0px 10px 25px rgba(0, 0, 0, 0.5); */

}

.agricare-icon {
  background-color: #00a651;
  /* Green background */
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: black 1px 1px 5px;
}

.agricare-text h2 {
  font-size:1.5rem;
  font-weight: 600;
  color: #77ea0b;
  /* dark greenish text */
  margin: 0;
  text-shadow: rgb(0, 0, 0) 3px 2px 2px;
}

.agricare-text p {
  font-size: 1rem;
  color: #faff6f;
  /* lighter green subtext */
  margin: 2px 0 0;
}

.Nav-bar {
  display: flex;
  gap: 1.2rem;
  font-family: "Inter", sans-serif;
  padding: 10px;
  margin: 5px;
}

.Nav-bar P {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(254, 255, 254);
  text-decoration: none;
}


@media(max-width : 768px) {
  .agricare-icon{
    width: 40px;
    height: 40px;
  }
  .agricare-text h2 {
    font-size: 1rem;
  }

  .agricare-text p {
    display: none;
  }

  .Nav-bar{
    margin: 5px;
  }

  .Nav-bar P {
    font-size: 0.6rem;
    font-weight: 700;
     color: rgb(254, 255, 254);
  }
}